$mainColor1: #2987be;
$mainColor2: #1059b8;

body, p{
  align-items: center;
}
body{
  margin: 0 auto;
  background-color: #cdf5ca;
}
.container{
  width: 60%;
  height: 80%;
  margin: 100px auto 0;
}
.content {
  display: none;
}
.is-active{
  display: block;
}
/*p{*/
/*    font-size: 42px;*/
/*    background-color: #fff;*/
/*    height: 70px;*/
/*    width: 200px;*/
/*}*/
nav {
  display: flex;
  justify-content: space-around;
  background-color: #dad6d6;
  color: $mainColor2;
  height: 50px;
}

#datecalc, #datecalc__result{
  text-align: center;
}
.logo{
  margin: 15px 0;
  align-items: center;
}
.lists{
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.list{
  list-style-type: none;
  border-radius: 4px;
  padding: 0 10px;
  &.is-active{
    background-color: #f5f4f4;
    border-bottom: 1px solid $mainColor1;
  }
}

.timer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__block{
    width: 150px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .time{
      background-color: $mainColor1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 150px;
      font-size: 95px;
    }
    .title{
      background-color: $mainColor2;
      padding: 5px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      color: white;
    }
  }
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 50px auto 0;
  .button{
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    width: 180px;
    transition: .3s ease-in-out;
    &.start, &.stop, &.fixing{
      color: $mainColor1;
      &:hover{
        background-color: $mainColor2;
        color: white;
      }
    }
    &.pause{
      &:hover{
        background-color: #e03b8b;
        color: white;
      }
    }
    &.fixing{
      &:disabled{
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}

.results__block{
  margin-top: 25px;
  font-size: 18px;
  border: 1px solid $mainColor2;
  color: $mainColor1;
  padding: 15px;

}
.result__info{
  font-size: 25px;
}